body{
  margin: 0;
  background-image: url(background.jpg);
  width: 1856px;
  height: 1050px;
}
#header{
  margin: 0px 10px 10px 0px;
  white-space: nowrap;
  text-align: center;
}
#header .title{
  font-size: 80px;
  display: inline;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow:7px 6px black;
}
#header a{
  text-decoration: none;
  color: rgb(255, 251, 0);
}

.Dairycow img{
  position: absolute;
  width: 650px;
  animation-name: cowYrun;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform: translate(185%);
}

.horse img{
  position: absolute;
  width: 700px;
  height: 700px;
  animation: 4s infinite spinner;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: 1;

}

.Browncows img{
  position: absolute;
  width: 600px;
  animation:5s infinite Spin_walking;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

}

.title{
  animation: 0.5s infinite shake;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes cowYrun {
  from{
    margin-top: 0%;
    }
  to{
    margin-top: 20%;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(10%, -5%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(10%, 15%, 0) rotate(360deg);
  }
}

@keyframes Spin_walking {
  0% {
    transform: translate3d(0%, 30%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(200%, 30%, 0) rotate(360deg);
  }
}

@keyframes shake {
  from{
    margin-left: -1%;
  }
  to{
    margin-left: 1%;
  }
}